<h1>Create Fast</h1>

<p>New user is created!</p>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Address</th>
      <th>Postal Code</th>
      <th>Pass</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
       <td><%= @email %></td>
       <td><%= @name %></td>
       <td><%= @birthdate %></td>
       <td><%= @address %></td>
       <td><%= @postal_code %></td>
       <td><%= @pass %></td>
       <td><%= link_to 'Show', user %></td>
       <td><%= link_to 'Edit', edit_user_path(user) %></td>
       <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

