<h1>Destroy Page</h1>

<p>This following user is deleted!</p>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
       <td><%= @email %></td>
       <td><%= @name %></td>
       <td><%= @birthdate %></td>
       <td><%= link_to 'Index', users_url %></td>
       <td><%= link_to 'Recreate this user', "/create_fast?name=#{@name}&email=#{@email}&birthdate=#{@birthdate}" %></td>
    </tr>
  </tbody>
</table>

